@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
  
    var treeJson = "";
   
      List< UserPermission.Role.Role> list=  ViewBag.roles as  List< UserPermission.Role.Role>;
      List<Public.UserManage.Web.Model.TreeMenu> treeList = new List<Public.UserManage.Web.Model.TreeMenu>();
        foreach (UserPermission.Role.Role m in list)
        {


            treeList.Add(new Public.UserManage.Web.Model.TreeMenu { id = m.Id.ToString(), name = m.Name, children = null });

        }
        treeJson = Newtonsoft.Json.JsonConvert.SerializeObject(treeList);

    


}

@model Public.UserManage.Web.Model.SysUserSearchCodition
<div class="con_all">
    <!--右侧内容-->
    <div class="main main_all">
        <div class="formlist formlist_search">
            @using (Ajax.BeginForm("SysUserList", null, new AjaxOptions()
      {
          HttpMethod = "POST",
          InsertionMode = InsertionMode.Replace,
          UpdateTargetId = "SysUser-list",
          OnBegin = "beginprogress",
          OnComplete = "endprogress"
      }, new { id = "SysUser-search" }))
            {
                <ul class="list">
                    <li>
                        <b>姓名：</b>
                        <div class="inp">
                            <input type="text" id="SearchName" name="SearchName" value="@Model.SearchName" class="sct-input" />

                        </div>
                    </li>
                    <li>
                        <b>登录名：</b>
                        <div class="inp">
                            <input type="text" id="s_Name" name="s_Name" value="@Model.s_Name" class="sct-input" />
                        </div>
                    </li>
                    <li>
                        <b style="width:100px;">用户锁定状态：</b>
                        <div class="inp">
                         
                            <input type="radio" name="s_IsLock" @(Model.s_IsLock == 0 ? "checked='checked'" : "") value="0" />正常
                            <input type="radio" name="s_IsLock" @(Model.s_IsLock == 1 ? "checked='checked'" : "") value="1" />已禁用
                        </div>
                    </li>
                 
                    <li>
                        <b>城市：</b>
                        <div class="inp">
                            <div id="s_citySect" class="sct-container">
                                <input type="text" name='s_CityName' id='s_CityName' class="sct-input inputborder" value="@Model.s_CityId"  /><input type="button" style="cursor: pointer;color:black;" class="inputborder btn" value="..." />
                                <input type="hidden" id='s_CityId' name='s_CityId' value="@Model.s_CityId" />
                            </div>

                        </div>
                    </li>

                </ul>
                @Html.HiddenFor(m => m.PageSize)
                <div class="submit">
                    <input type="button" onclick="sub()" value="查询" class="button_org_b button_90_30" />

                </div>
            }
        </div>

        <div>
            <input type="button" value="添加" onclick="InsertDialog()" class="button_org_b button_90_30">
        </div>

        <div class="resultbox">
            <div class="result_title">
                <h2>查询结果</h2>
                <div class="gongyou"><span>共有<strong id="tem-c"></strong>条符合您的查询条件</span></div>
                <div class="gongyou" id="progress"><img src="@Url.Content("~/Content/image/13221821.gif")" /></div>
                <div class="xianshi">
                    <span>每页显示</span><select id="tem-item-count" class="inputborder w70">
                        <option>20</option>
                        <option>50</option>
                        <option>100</option>
                    </select><span>条</span>
                </div>
            </div>
            <div id="SysUser-list">
                @{ Html.RenderPartial("SysUserTable", ViewBag.list as Webdiyer.WebControls.Mvc.PagedList<UserPermission.User.User>); }
               
            </div>

        </div>
    </div>
</div>
<input type="hidden" id="hid_MyMenuJson" value="@treeJson" />
<div id="MyMenuDialog" style="display:none;overflow:auto;" title="Dialog Title">
    <div>
        <ul id="treeMyMenu" class="ztree"></ul>
    </div>

</div>

@section scripts{
    <link rel="Stylesheet" href="@Url.Content("~/Scripts/jquery.selector/v0.1/jquery.selector.css")" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.selector/v0.1/jquery.selector-0.2.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Scripts/webuploader/webuploader.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/webuploader/webuploader.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/nc.news.uploadimage.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/DataArea/LoadTime.js")"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/ztree/css/zTreeStyle/zTreeStyle.css")" type="text/css">
<script type="text/javascript" src="@Url.Content("~/Content/ztree/jquery.ztree.core-3.5.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/ztree/jquery.ztree.excheck-3.5.min.js")"></script>
    <script type="text/javascript">
    var citydata = null;
    var cardata = null;
    var ids = [],
        citySect1 = {},
        setting = {
            title: "城市选择",
            width: 800,
            height: 400
        };

    var pager = null;


    function CreateAutoLable(data) {
        if (typeof data == 'string') {
            data = JSON.parse(data);
        }
        var labArr = [];
        $.each(data, function (i, n) {
            $.each(n.children, function (i, n) {
                labArr.push({ id: n.id, value: n.text, en: $.pinyin(n.text).toLowerCase() });
            });

        });

        return labArr;
    }
    var zTreeObj;
    var o = $("#hid_MyMenuJson").val();
    var zNodes = jQuery.parseJSON(o);

    var setting = {
        check: {
            enable: true,
            chkStyle: "checkbox",
            chkboxType: { "Y": "s", "N": "ps" }
        },

    };

    $(function ($) {
        document.onkeydown = function (e) {
            var keycode = document.all ? event.keyCode : e.which;
            if (keycode == 13) {
                sub();
            }
        }



        $.ajax({
            type: "GET",
            url: "@Url.Action("GetCityData", "Common")?ids=" + $("#s_CityId").val(),
            success: function (data, status) {
                citydata = data;
                citySect1 = $.fn.selector.init($("#s_citySect"), setting, citydata, function (a) {
                    $("#s_CityId").val(a);
                });
                $("#s_CityName").autocomplete({
                    source: CreateAutoLable(data),
                    select: function (event, item) {

                        $("#s_CityId").val(item.item.id);

                    }
                });
                $("#s_CityName").blur(function () { if ($(this).val() == "") $("#s_CityId").val(""); });
            }
        });

        CreateDialogDiv();

        pager = Webdiyer.MvcPagers.getById("mypager1");

        // pager.loadingElementId = "#progress";
        pager.onBegin = 'beginprogress';
        pager.onComplete = 'endprogress';
        pager.allowReload = true;
        $("#progress").hide(0);
        LoadTime.Append('@Url.Content("~/Content/image/13221821.gif")');




        // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）










    });

    $("#tem-item-count").change(function () {
        $("#PageSize").val($(this).val());
        sub();
    });

    function sub() {

        Webdiyer.__ajaxPages["PageIndex"] = 1;
        $("#SysUser-search").submit();
        try {
            // pager.goToPage(2);
            $("#dialog").dialog("close");
        } catch (e)
        { }
    }
    function pagesub() {
        var pager = Webdiyer.MvcPagers.getById("mypager1");
        try {
            //  Webdiyer.__ajaxPages["PageIndex"] = 100000;
            $("#dialog").dialog("close");
        } catch (e) { }

        pager.__ajax(pager.currentPageIndex, { type: pager.httpMethod, data: [] });
        //  $("#Template-search").submit();


    }
    function UpdateDialog(id) {
        $("#dialog").dialog({
            title: "修改",
            autoOpen: false,
            modal: true,
            width: 600,
            height: 310

        });
        $("#dialog").html("Load......");
        $("#dialog").load("@Url.Action("UpdateSysUser", "User")" + "?id=" + id);
        $("#dialog").dialog("open");
    }

    function InsertDialog() {
        $("#dialog").dialog({
            title: "添加",
            autoOpen: false,
            modal: true,
            width: 600,
            height: 310

        });
        $("#dialog").html("Load......");
        $("#dialog").load("@Url.Action("InsertSysUser", "User")");
        $("#dialog").dialog("open");
    }

    function CloseDialog(data) {

        $("#dialog").dialog("close");
        LoadTime.html(data);
    }

    function UpdateDataDialog(id) {
        $("#dialog").dialog({
            title: "修改",
            modal: true,
            autoOpen: false,
            width: 600,
            height: 550

        });
        $("#dialog").html("Load......");
        $("#dialog").load("@Url.Action("UpdateSysUserData", "SysUser")" + "?id=" + id);
        $("#dialog").dialog("open");
    }
    function pdCheck(data,id) {
        var b=false;
        $.each(data, function (i, n) {
            if (n.RoleId == id) {
                b = true;
                return true;
            }
        });
        return b;
    }

    function OpenRoleTreeDialog(id) {





        beginprogress();
        zTreeObj = $.fn.zTree.init($("#treeMyMenu"), setting, zNodes);
        zTreeObj.expandAll(true);


        $.getJSON("@Url.Action("GetUserRoleRelations", "User")" + "?id=" + id, function (json) {


                if (json && json.length > 0) {

                    var nodes = zTreeObj.getNodes();
                    $.each(nodes, function (i, n) {

                        if (pdCheck(json, n.id)) {
                            n.checked = true;
                            zTreeObj.checkNode(n, true, true);
                        }
                    });
                }

                endprogress();

                $("#MyMenuDialog").dialog({
                    title: "角色设置",
                    autoOpen: false,
                    modal: true,
                    width: 300,
                    height: 600,
                    modal: true,
                    buttons: {
                        "确定": function () {
                            InsertUserRole(id);

                            $(this).dialog("close");

                        },
                        "取消": function () {
                            $(this).dialog("close");
                        }
                    }

                });

                $("#MyMenuDialog").dialog("open");


            });

        }

        function InsertUserRole(id) {
            var nodes = zTreeObj.getCheckedNodes(true);
            var rolestr = "";
            $.each(nodes, function (i, n) {
                rolestr += n.id + ",";
            });
            $.post("@Url.Action("AddUserRoleRelations", "User")", { id: id, roles: rolestr },
                 function (data) {
                     LoadTime.html(data);
                 });
        }



        var CreateDialogDiv = function () {
            var d = '<div id="dialog" title="Dialog Title">' +
               '</div>';

            $("body").append(d).find("#dialog").hide();


        }
        function LockSysUser(id) {
            var msg = "您真的确定要操作吗？\n\n请确认！";



            LoadTime.show(msg, function () {
                $.post("@Url.Action("LockSysUser", "User")", { id: id },
                    function (data) {

                        LoadTime.html(data);
                        pagesub();
                    });
            });



        }

        function DeleteSysUser(id) {
            var msg = "您真的确定要操作吗？\n\n请确认！";



            LoadTime.show(msg, function () {
                $.post("@Url.Action("DeleteSysUser", "User")", { id: id },
                    function (data) {

                        LoadTime.html(data);
                        pagesub();
                    });
            });
        }




    </script>
}
